@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: #ffa500;
  --secondary-color: #ffd68a;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #f5deb3 0%, #d4af6b 100%);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  margin: 10px;
}

.app-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.calc-container {
  margin: 4rem 0;
  width: 60vw;
  text-align: center;
  border: 1px solid black;
  background: #bfbfbf;
  box-shadow: 0 1px 17px 4px rgba(0, 0, 0, 0.75);
}

input[type="text"] {
  height: 70px;
  background: #929292;
  text-align: right;
  width: 100%;
  border: 0;
  color: white;
  padding: 1rem;
  margin-bottom: 2px;
}

button {
  border: 1px solid #bfbfbf;
  margin: 2px 0;
  height: 65px;
}

.operature {
  background-color: var(--primary-color);
  font-weight: 700;
}

.operature:hover {
  background: var(--secondary-color);
}
