@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: #ffa500;
  --secondary-color: #ffd68a;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #f5deb3 0%, #d4af6b 100%);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.nav-links {
  font-size: 1.2rem;
  padding-left: 15rem;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.logo {
  width: 80px;
  margin: 10px 5rem 10px 10px;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 12vw;
  margin: 10px;
  font-size: 1rem;
}

.clock-container > h1 {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.clock-container > h2 {
  padding: 5px;
  font-size: 0.6rem;
  width: 70px;
  height: 20px;
  color: #fff;
  background: #333;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
  box-shadow: 0 1px 17px 4px rgba(0, 0, 0, 0.5);
}

.app-header {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.calc-container {
  margin: 4rem 0;
  width: 60vw;
  text-align: center;
  background: #bfbfbf;
  box-shadow: 0 1px 17px 4px rgba(0, 0, 0, 0.75);
}

input[type="text"] {
  height: 70px;
  background: #929292;
  text-align: right;
  width: 100%;
  border: 0;
  color: white;
  padding: 1rem;
  margin-bottom: 2px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
}

button {
  border: 1px solid #bfbfbf;
  margin: 2px 0;
  height: 65px;
}

.operature {
  background-color: var(--primary-color);
  font-weight: 700;
}

.operature:focus {
  background: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
  .clock-container {
    top: 8rem;
    right: 0;
    width: 12vw;
    margin: 10px;
    font-size: 1rem;
  }
}
